
/* NavBar */

.navheader {
    background-color: #00f77c00;
    position: fixed;
    top: 0;
}

.navheader.scrolled {
    background-color: #66f9adb4 !important;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 2.5s;
  }

#navbarSupportedContent {
    margin-right: 260px !important;
    margin-left: 230px !important;
    margin-top: 25px !important;
}

.logoDesktop {
    max-width: 140px;
    margin-left: 10px;
}

/* Book Appoiment Button */

.bookAppoiment {
    background-color: #02382E;
    border-radius: 20px;
    max-width: 150px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.bookAppoimentTxt {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    color: rgb(255, 255, 255) !important;
}

.bookAppoiment:hover {
    background-color: #deffa4a9;
}

.bookAppoimentTxt:hover {
    color: #090909 !important;
}

.logoMobile {
    display: none;
}

.portadaTaMobile {
    display: none !important;
}

.portadaTablet {
    display: none !important;
}

.navbar-nav {
    font-family: quiet-sans, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #090909 !important;
}

/* SECTION #:1 */

.sectionUno {
    height: 5000px;
}

/* Responsive SectionUno + NavBar */

/* Desktop*/
@media screen and (max-width: 1440px) {
    #navbarSupportedContent {
        margin-right: 190px !important;
        margin-left: 170px !important;
        margin-top: 20px;
    }

    .portadaTaMobile {
        display: none !important;
    }

    .portadaTablet {
        display: none !important;
    }
    
}

/* Laptop */
@media screen and (max-width: 1100px) {
    #navbarSupportedContent {
        margin-right: 140px !important;
        margin-left: 120px !important;
        margin-top: 20px;
    }
}

/* Tablet */
@media screen and (max-width: 834px) {
    .logoDesktop {
        display: none !important;
    }

    .logoMobile {
        display: block;
    }

    .logoMobile {
        max-width: 140px;
        margin-right: 110px;
        margin-top: 25px;
    }

    .portadaDesktop {
        display: none !important;
    }

    .portadaTaMobile {
        display: none !important;
    }

    .portadaTablet {
        display: block !important;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 25px !important;
        margin-top: 0px !important;
    }

    .navbar-toggler {
        margin-left: 25px;
        margin-top: 25px;
    }

    .portadaTablet {
        width: 100%;
    }
}

/* Mobil */

@media screen and (max-width: 430px) {
    .portadaTablet {
        display: none !important;
    }

    .portadaTaMobile {
        display: block !important;
    }

    .logoMobile {
        max-width: 140px;
        margin-right: 115px;
        margin-top: 20px;
    }

    .navbar-toggler {
        margin-left: 8px;
        margin-top: 25px;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 8px !important;
        margin-top: 0px !important;
    }

}

@media screen and (max-width: 393px) {
    .logoMobile {
        margin-right: 100px;
        margin-top: 20px;
    }

    .navbar-toggler {
        margin-left: 5px;
        margin-top: 25px;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 8px !important;
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 375px) {
    .logoMobile {
        margin-right: 85px;
        margin-top: 20px;
    }

    .navbar-toggler {
        margin-left: 0px;
        margin-top: 25px;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 5px !important;
        margin-top: 0px !important;
    }
}


@media screen and (max-width: 360px) {
    .logoMobile {
        margin-right: 80px;
        margin-top: 20px;
    }

    .navbar-toggler {
        margin-left: 0px;
        margin-top: 25px;
    }

    #navbarSupportedContent {
        margin-right: 0px !important;
        margin-left: 5px !important;
        margin-top: 0px !important;
    }
}

